* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  
body{
  
  display: flex;
  flex-direction: column;
  background-color: #5f555a;
  font-family: monospace;   
}
#gameFrame {
    display:flex;
    background-color:  black;
    height: 600px;
    width: 800px;
    margin-left: 5%;
    position: relative;  
    overflow: hidden;
    background-color: grey;
    cursor: crosshair;
    border-radius: 10px;
    box-shadow:  0 2em 2em rgba(75, 118, 236, 0.5);
}
@media (max-width: 362px) {
  #gameFrame{
    top: 10px;
    min-width: 300px;
    margin-left: 0px;
    position: absolute;
    min-height: 700px;
  }
  #start{
    transform: scale(0.9);
    font-size: 40px;
  }
  #reset{ 
    top: 720px;
    transform: scale(0.9);
    position: sticky; 
  }
  #plataforma1{
    transform:scale(0.9);
  }
  #plataforma2{
    transform:scale(0.9);
  }
}

@media (max-width: 509px) {
  #gameFrame{
    top: 2px;
    width: 330px;
    margin-left: 0px;
    position: absolute;
    height: 290px;
  }
  #start{
    transform: scale(0.9);
    font-size: 30px;
  }
  #reset{ 
    top: 291px; 
  }
  #plataforma1{
    transform:scale(0.2);
  }
  #plataforma2{
    transform:scale(0.2);
  }
}

#healthBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 39px;
    width: 100%;
    background-color:  rgb(226, 3, 14);
    transition: width .5s;
    border-radius: 15px;
    border-style: groove;
    border-color: rgb(117, 3, 3);
    box-shadow: rgba(146, 3, 110, 0.5) 3px 3px 3px;
    animation: animacion7 1s ease-in-out 0s infinite normal none;
}
@keyframes animacion7 {
  5% {
    background: rgb(226, 43, 43);
    
    opacity: 0.8;
  }
  50% {
    background:rgb(206, 135, 4);
    
    opacity: 0.7;
  }
  100% {
    background:rgb(190, 7, 7);
    
    opacity: 0.6;
  }
}

.enemy {
  width: 59px;
  height: 89px;
  position: absolute;
  padding: 5px;
  background: linear-gradient(#034d19, black);
  bottom:-123px;
  transition: all 1.1s;
  border-top-right-radius: 39%;
  border-top-left-radius: 50%;
  border-style: solid 5px; 
  border-color: black;
  box-shadow:  0 1.5em 1em 1em #4c5d6480;
}

#enemy1 { left: 32px;}
#enemy2 { left: 100px;}
#enemy3 { left: 110px;}
#enemy4 { left: 80px;}
#enemy5 { left: 102px;}
#enemy6 { left: 67px;}
#enemy7 { left: 102px;}
#enemy8 { left: 105px;}
#enemy9 { left: 75px;}
#enemy10 { left: 105px;}
#enemy11 { left: 90px;}
#enemy12 { left: 100px;}
#enemy13 { left: 112px;}

.enemy:before {
  content: "><";
  position: absolute;
  width: 85%;
  color:rgb(6, 241, 6);
  top: 20px;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  border-color: 10px solid rgb(13, 13, 14) ;
  border-radius: 32%;
  box-shadow: inset #0c0d0e 1em 1em 1em 1em;
    
}

.enemy:after {
  content: ":";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 5%;
  bottom: 5px;
  background-color: rgb(15, 158, 214);
  color: #dd0505;
  text-align: center;
  border-radius: 15px;
  border-bottom: 20px solid #111;
  border-right: 2px solid rgb(4, 18, 97);
  transition: all .9s;
}
   
.enemy.shooting {
  background: #07eb1a;
}

.enemy.shooting:after {
  content: "*";
  left: 28px;
  color: rgb(240, 6, 6);
  font-size: 2em;
  transform: scale(3.0) rotate3d(5, 2, 6, -15deg);
  box-shadow: 20px -10px 30px black;
  transition: all 1.1s;
}

.enemy.dead {
  background: cornflowerblue;
  transform: scale(0.1) rotate(590deg);
  border-radius: 120%;
  content: "+++";
}

.enemy.dead:before {
  
  font-size: 20%;
  font: italic;
  color: rgb(11, 223, 29);
  transform: rotate(560deg);
  
}

.enemy.showing {
  bottom: 0px;
} 

#plataforma1 {
  position:absolute;
  overflow:hidden;
  left: 2px;
  top: 10px;
  background-color: cornflowerblue;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border:#0c0d0e double dotted 18px;
  width: 199px;
  height: 127px;
  border-radius: 95%;
  box-shadow:  hsla(256,50%,70%,.3) inset 18px 5px 5px;
  animation: animacion2 21s ease-in-out 2s infinite normal none;
  transition: 21s;
}
@keyframes animacion2 {
  5% {
   
   transform: translateX(200px) translateY(30px) scale(0.5) rotate(960deg) ;
  }
  28% {
    transform: translateX(200px) traslateY(150px) scale(1);
  }
  30%{
    transform: rotate(1960deg);
    
  }   
  37% {
    transform:translateX(80px) translateY(380px);
  }
  70%{
    transform:scale(0.6);
  }
  80% {
    transform: translateX(50px) translateY(390px);
  }
  
  
  97%{
    transform: scale(1.7);
  }
} 
  
#plataforma2 {
  position: absolute;
  left: 0px;
  overflow: hidden;
  top: 8px;
  width: 199px;
  height: 127px;
  border: #0c0d0e double dotted 38px;
  border-radius: 95%;
  background-color: cornflowerblue;
  box-shadow: hsla(256,50%,70%,.3) inset 18px 5px 5px;
  animation: animacion4 15s ease-in-out 0s infinite normal none;
  transition: 15s;
}
@keyframes animacion4 {
  5% {
   transform: translateX(190px) translateY(28px);
  }
  15%{
    transform: scale(0.7);
  }
  25% {
    transform: translateX(150px) translateY(28px) rotate(980deg);
  } 
  35%{
    transform: scale(0.7);
  }
  58% {
    transform: translateX(280px) translateY(350px) rotate(960deg);  
  }
  85% {
    transform: scale(1.3);
  }
  90% {
    transform: translateX(120px) translateY(380px) rotate(920deg);
  }
}

  
  





  




    
    


    
    