* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  
body{
  
  display: flex;
  flex-direction: column;
  background-color: #5f555a;
  font-family: monospace;   
}
#gameFrame {
    display:flex;
    background-image: url('imagen/wall.jpg');
    background-size: cover;
    border:#0c0d0e solid 1.5px;
    height: 600px;
    width: 600px;
    margin-left: 1%;
    position: relative;  
    overflow: hidden;
    
    cursor: crosshair;
    border-radius: 10px;
    box-shadow:  0 2em 2em rgba(75, 118, 236, 0.5);
}
@media (max-width: 570px) {
  #gameFrame{
    top: 1px;
    width: 370px;
    margin-left: 0px;
    position: absolute;
    min-height: 650px;
  }
  #start{
    transform: scale(0.9);
    font-size: 30px;
  }
  #reset{ 
    margin-top: 50px;
    transform: scale(0.9);
    position: sticky; 
  }
  #music{
    margin-top: 655px;
    margin-left: 200px;
  }
  #music2{
    margin-top: 655px;
    margin-left:280px;
  }
  #plataforma1{
    transform:scale(0.9);
  }
  #plataforma2{
    transform:scale(0.9);
  }
}
#music{
  margin-top: 605px;
  margin-left: 300px;
}
#music2{
  margin-top: 605px;
  margin-left:380px;
}  
#healthBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 39px;
    width: 100%;
    background-color:  rgb(226, 3, 14);
    transition: width .5s;
    border-radius: 15px;
    border-style: groove;
    border-color: rgb(117, 3, 3);
    box-shadow: rgba(146, 3, 110, 0.5) 3px 3px 3px;
    animation: animacion7 1s ease-in-out 0s infinite normal none;
}
@keyframes animacion7 {
  5% {
    background: rgb(226, 43, 43);
    
    opacity: 0.8;
  }
  50% {
    background:rgb(206, 135, 4);
    
    opacity: 0.7;
  }
  100% {
    background:rgb(190, 7, 7);
    
    opacity: 0.6;
  }
}

.enemy {
  width: 50px;
  height: 80px;
  position: absolute;
  padding: 5px;
  background: linear-gradient(#034d19, rgb(214, 10, 10));
  bottom: -115px;
  transition: all 1.5s;
  border-top-right-radius: 39%;
  border-top-left-radius: 50%;
  border-style: solid 5px; 
  border-color: black;
  box-shadow:  0 1.5em 1em 1em #4c5d6480;
  
}

#enemy1 { 
  left: 42px;
  background-color: crimson;
  border-radius: 100%;
  transform:scale(1.5);


}
#enemy2 { 
  left: 50px;
  background-color: rgb(137, 185, 23);
  border-radius: 100%;
  transform: scale(1.5);
}
#enemy3 { 
  left: 50px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
}
#enemy4 { 
  left: 50px;
  background-color: rgb(220, 20, 203);
  border-radius: 100%;
}
#enemy14 { 
  left: 42px;
  background-color: crimson;
  border-radius: 100%;

}
#enemy15 { 
  left: 50px;
  background-color: rgb(137, 185, 23);
  border-radius: 100%;
  transform:scale(1.6);
}
#enemy16 { 
  left: 50px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
  transform: scale(1.7)
}
#enemy17 { 
  left: 50px;
  background-color: rgb(220, 20, 203);
  border-radius: 100%;
}
#enemy18 { 
  left: 42px;
  background-color: crimson;
  
  transform: scale(1.5);

}
#enemy19 { 
  left: 50px;
  background-color: rgb(137, 185, 23);
  
  transform: scale(1.7);
}
#enemy20 { 
  left: 50px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
  transform: scale(1.6);
}
#enemy21 { 
  left: 50px;
  background-color: rgb(220, 20, 203);
  border-radius: 100%;
}
#enemy5 { 
  left: 40px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
  transform: scale(1.6);
}
#enemy6 { 
  left: 67px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
  transform: scale(1.6);
}
#enemy7 { 
  left: 52px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
  transform: scale(1.7);
}
#enemy8 { 
  left: 45px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
  transform: scale(1.6);
}
#enemy9 { 
  left: 35px;
  background-color: rgb(16, 195, 207);
  border-radius: 100%;
}
#enemy10 {
   left: 65px;
   background-color: crimson;
   border-radius: 100%;
}
#enemy11 { 
  left: 50px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
  transform: scale(1.6);
}
#enemy12 { 
  left: 50px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
  transform: scale(1.6);
}
#enemy13 { 
  left: 32px;
  background-color: rgb(60, 220, 20);
  border-radius: 100%;
  transform: scale(1.6);
}

.enemy:before {
  content: "><";
  position: absolute;
  width: 85%;
  color:rgb(6, 241, 6);
  top: 20px;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  border-color: 10px solid rgb(13, 13, 14) ;
  border-radius: 32%;
  box-shadow: inset #0c0d0e 1em 1em 1em 1em;
    
}

.enemy:after {
  content: ":";
  font-weight: 900;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 5%;
  bottom: 5px;
  background-color: rgb(16, 17, 17);
  color: #dd0505;
  text-align: center;
  border-radius: 15px;
  border-bottom: 20px solid #111;
  border-right: 2px solid rgb(81, 82, 87);
  transition: all 1.7s;
}
   
.enemy.shooting {
  background: #07eb1a;
}

.enemy.shooting:after {
  content: "*";
  font-weight: 900;
  left: 28px;
  color: rgb(240, 6, 6);
  font-size: 2.2em;
  transform: scale(2.5) rotate(540deg) translateY(-20px);
  box-shadow: 20px -10px 30px black;
  transition: all .4s;
}

.enemy.dead {
  background: rgb(94, 243, 118);
  transform: scale(0.7) rotate(990deg);
  border-radius: 100%;
  content: "X X";
  pointer-events: none;
  cursor:default;
}

.enemy.dead:before {
  
  font-size: 20%;
  font: italic;
  color: rgb(11, 223, 29);
  transform: rotate(560deg);
  
}

.enemy.showing {
  bottom: 10px;
} 

#plataforma1 {
  position:absolute;
  overflow:hidden;
  left: 0px;
  top: 30px;
  background-color: rgb(68, 92, 138);
  padding-left: 5px;
  padding-top: 20px;
  padding-right: 10px;
  border: black solid 8px;
  width: 197px;
  height: 139px;
  border-radius: 95%;
  box-shadow:  rgba(96, 49, 224, 0.5) inset 18px 5px 5px;
  animation: animacion2 25s ease-in-out 0s infinite normal none;
  transition: 2s;
}
@keyframes animacion2 {
  5% {
   
   transform: translateX(200px) translateY(380px) rotate(1960deg) ;
  }
  28% {
    transform: translateX(20px) translateY(390px) scale(1.2);
  }
  45%{
    transform: rotate(1980deg) scale(0.8);
    
  }   
  67% {
    transform:translateX(70px) translateY(40px) scale(1.3);
  }
 
  80% {
    transform: translateX(0px) translateY(390px) rotate(1980deg) scale(0.8);
  }
  95%{
    transform: translateX(200px);
  }
  
} 
  
#plataforma2 {
  position: absolute;
  padding-top:10px;
  left: 0px;
  overflow: hidden;
  top: 10px;
  width: 197px;
  height: 143px;
  border: black solid 8px;
  border-radius: 95%;
  background-color: cornflowerblue;
  box-shadow: rgba(43, 2, 156, 0.3) inset 18px 5px 5px;
  animation: animacion4 17s ease-in-out 0s infinite normal none;
  transition: 5s;
}
@keyframes animacion4 {
  5% {
   transform: translateX(200px) translateY(388px);
  }
  
  25% {
    transform: translateX(70px) translateY(388px) rotate(980deg) scale(1.3);
  } 
  
  48% {
    transform: translateX(200px) translateY(50px) rotate(1960deg) scale(0.8);  
  }
  
  70% {
    transform: translateX(20px) translateY(380px) rotate(1920deg) scale(1.3);
  }
  90% {
    transform: translateX(200px) translateY(50px) rotate(1920deg) scale(0.7);
  }
}


  





  




    
    


    
    